// Colors
$white: #fff;
$black: #000;
$rich-black: #011627;
$navy-grey: #707991;
$light-grey: #f5f5f5;
$iceberg-blue: #8babd8;
$light-green: #78e378;

// Fonts
$font-path: 'fonts/';

$font-family-custom: 'Inter';
$font-family-default: 'sans-serif';

$font-family: $font-family-custom, $font-family-default;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-default: 16px;

$line-height-small: 16px;
$line-height-normal: 18px;
$line-height-default: 20px;

// Breakpoints
$screen-tablet: '(min-width: 768px)';

// Z-indexes
