@font-face {
    $font-name: "#{$font-family-custom}-Regular";
    font-family: $font-family-custom;
    font-weight: $font-weight-regular;
    font-style: normal;
    src: local("Inter"), url("@/assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    $font-name: "#{$font-family-custom}-SemiBold";
    font-family: $font-family-custom;
    font-weight: $font-weight-semi-bold;
    font-style: normal;
    src: local("Inter"), url("@/assets/fonts/Inter-SemiBold.ttf") format("truetype");
}
