// Colors
$chat-background-color: $white;
$chat-background-color-hover: #7079910A;

$chat-message-text-color: $navy-grey;
$chat-message-count-text-color: $white;
$chat-message-count-background-color: $light-green;
$chat-date-text-color: $navy-grey;

// Fonts
$chat-message-font-size: $font-size-normal;
$chat-message-line-height: $line-height-normal;

$chat-message-count-font-size: $font-size-small;
$chat-message-count-line-height: $line-height-small;

$chat-date-font-size: $font-size-small;
$chat-date-line-height: $line-height-small;

// Sizes
$chat-height: 72px;
$chat-message-count-size: 18px;
