// Colors 
$input-default-background-color: $white;
$input-grey-background-color: $light-grey;

$input-text-color: $rich-black;
$input-text-placeholder-color: $navy-grey;

// Sizes
$input-small-height: 40px;
$input-medium-height: 56px;
