// Colors
$message-white-background-color: $white;
$message-green-background-color: $light-green;
$message-info-color: $white;

$messages-list-background-color: $iceberg-blue;
$messages-list-date-sent-color: $white;
$messages-list-date-sent-background-color: #3D70B899;

// Fonts
$message-time-font-size: $font-size-small;
$message-time-line-height: $line-height-small;

// Sizes
$messages-list-max-width: 80%;
