// Colors
$message-white-background-color: $white;
$message-green-background-color: $light-green;
$message-info-color: $white;

// Fonts
$message-time-font-size: $font-size-small;
$message-time-line-height: $line-height-small;
