// Colors
$sidebar-background-color: $white;

// Sizes
$sidebar-height: 56px;
$sidebar-width-small-size: 80px;
$sidebar-list-margin-top: 8px + $sidebar-height;
$sidebar-stub-margin-top: 8px + $sidebar-height;
