// Colors
$top-bar-background-color: $white;
$top-bar-border-color: $iron;
$top-bar-user-status-color: $navy-grey;

// Fonts
$top-bar-user-status-font-size: $font-size-normal;
$top-bar-user-status-line-height: $line-height-normal;

// Sizes
$top-bar-height: 56px;
$top-bar-user-height: 40px;

